/* Smartphones (retrato e paisagem) ----------- */
@media only screen and (max-width: 768px) {

    #experiencia{
        max-width: 90%;
    }
    .botao {
        width: 90%;
        margin: 20px 0;
    }
}